:root {
    --base-color: #272d2d;
}

body,
html,
main {
    margin: 0;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100dvw;
}

.main__verse {
    border: 0.1rem solid var(--base-color);
    /* Aurea */
    border-radius: 6.18dvh;
    width: 70dvb;
    height: calc(70dvb / 1.618);
    /* Position & proportion */
    padding: 1.618rem;
}
